section {
    background-color: #fff;
    padding-top: 100px !important;
    width: 100%;
    height: 100%;
}

#podrucjeHeadline {
    margin-top: 60px;
}

#podrucjeHeadline h2 {
    color: rgba(60, 126, 60);
}

#underline1 {
    color: rgba(60, 126, 60);
}

.podrucjaLeft {
    border-top: 1px solid rgba(60, 126, 60);
    padding: 20px 0 20px;
}

.podrucjaRight {
    border-top: 1px solid rgba(60, 126, 60);
    padding: 20px 0 20px;
    padding: 20px 0 20px;
}

.podrucjaLeft:hover {
    background-color: rgba(60, 126, 60, 0.6);
}

.podrucjaLeft:hover .text-muted {
    color: black !important;
}

.podrucjaRight:hover {
    background-color: rgba(60, 126, 60, 0.6);
}

.podrucjaRight:hover .text-muted {
    color: black !important;
}

.podrucjeImg {
    height: 180px;
    width: 250px;
    float: left;
    border: 1px solid rgba(60, 126, 60, 0.6);
    padding: 0;
}

.divImg {
    height: 180px;
    width: 250px;
    overflow: hidden;
    border: 1px solid rgba(60, 126, 60, 0.6);
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
}

.podrucjeImg:hover {
    transition: transform .5s ease;
    transform: scale(1.2);
}

.podrucjeText {}