html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


/* navbar with nav img */

#frontPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./img/RUDNO_21_s.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    background-repeat: no-repeat;
}

.headline {
    color: rgb(250, 250, 97);
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#logoPic {
    width: 130px;
    height: auto;
}

.navbar {
    height: 80px;
    position: fixed;
    padding-top: 0;
    top: 30px;
    right: 0;
    left: 0;
    z-index: 999;
    font-weight: 900;
}
.navbar-toggler-icon {
    background-color: #00d351;
}
#navName:hover {
    color: white;
    transition: color 0.5s;
}

.navbar .nav-item .nav-link {
    transition: color 0.5s;
    padding: 7px 2rem;
    color: #00d351;
}

.nav-link {
    position: relative;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(250, 250, 97);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
    box-shadow: 0 0 8px rgb(250, 250, 97);
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(250, 250, 97);
}

.navAnimate {
    animation: navAnimation 1s;
    animation-fill-mode: forwards;
}

@keyframes navAnimation {
    from {
        background: rgba(60, 126, 60, 0.0);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
        top: 30px;
    }
    to {
        background: rgb(60, 126, 60, 0.8);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
        top: 0;
    }
}

.languageAnimate {
    animation: langAnimateforw 0.5s;
    animation-fill-mode: forwards;
}

@keyframes langAnimateforw {
    from {
        opacity: 1;
        height: 30px;
    }
    to {
        height: 0;
        opacity: 0;
    }
}


/* language div */

.language {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgb(33, 37, 41, 0.4);
    width: 100%;
    height: 30px;
}

.serbian {
    float: left;
    margin-right: 50px;
}

.serbian img {
    width: 30px;
    height: auto;
    margin-bottom: 2px;
    margin-right: 15px;
}

.serbian a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.serbian a:hover {
    color: rgb(204, 203, 203)
}

.english {
    float: left;
}

.english img {
    width: 30px;
    height: auto;
    margin-bottom: 2px;
    margin-right: 15px;
}

.english a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.english a:hover {
    color: rgb(204, 203, 203)
}


/** AboutUs **/

.row img {
    width: 100%;
}


/** projekti i konkursi **/

.content {
    border-top: 3px solid green;
    display: flex;
}

.news1,
.news2 {
    width: 100%;
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid green;
}

.news1:last-child {
    border-bottom: none;
}

.news2:last-child {
    border-bottom: none;
}

.news1 img,
.news2 img {
    width: auto;
    height: 120px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid green;
    border-radius: 50%;
}

.news1 img {
    float: left;
}

.news2 img {
    float: right;
}

.news1 a:hover,
.news2 a:hover {
    text-decoration: none;
}

.news1 p,
.news2 p {
    text-align: justify;
}

.news1 a,
.news2 a {
    color: rgb(73, 10, 10);
    text-decoration: none;
    font-weight: bold;
}

.news1 img:hover,
.news2 img:hover {
    animation-name: flip;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.news1 a:hover,
.news2 a:hover {
    animation-name: flip;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}


/** MEDIA **/

@media only screen and (max-width: 800px) {
    .news1 img {
        float: none;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-left: 0px;
    }
    .news2 img {
        float: none;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    .content {
        float: none;
        width: 100%;
        margin: 35px 15px 35px 15px;
    }
}

@media only screen and (max-width: 500px) {
    .news1 img {
        float: none;
        width: 50%;
        height: auto;
        margin-right: 0px;
    }
    .news2 img {
        float: none;
        width: 50%;
        height: auto;
        margin-left: 0px;
    }
    .content {
        float: none;
        width: 50%;
        margin: auto;
    }
}


/** partners **/

.partners {
    height: 800px;
    border-top: 3px solid green;
}

.partner1 {
    background-image: url("IMG/partneri/ida.jpg");
}

.partner2 {
    background-image: url("IMG/partneri/putvode.jpg");
}

.partner3 {
    background-image: url("IMG/partneri/rda.jpg");
}

.partner4 {
    background-image: url("IMG/partneri/usaidd.jpg");
}

.partner5 {
    background-image: url("IMG/partneri/kraljevo.jpg");
}

.partner6 {
    background-image: url("IMG/partneri/turistkraljevoo.jpg");
}

.partner1,
.partner2,
.partner3,
.partner4,
.partner5,
.partner6 {
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.podpartner1,
.podpartner2,
.podpartner3,
.podpartner4,
.podpartner5,
.podpartner6 {
    text-align: justify;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(60, 126, 60, 0.788);
    color: yellow;
    margin: auto;
    padding: 25px;
}

.partner1:hover .podpartner1,
.partner2:hover .podpartner2,
.partner3:hover .podpartner3,
.partner4:hover .podpartner4,
.partner5:hover .podpartner5,
.partner6:hover .podpartner6 {
    display: block;
}

.partners a:hover {
    text-decoration: none;
}


/* footer */

footer {
    background: rgb(60, 126, 60, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

#underline1 {
    width: 150px;
    height: 3px;
    background-color: rgb(60, 126, 60, 0.9);
    margin: auto;
}

#imgMap {
    width: 100%;
    height: auto;
    border: 1px solid rgb(186, 213, 52);
    border-radius: 3px;
    box-shadow: 5px 8px 20px rgb(26, 26, 26);
}

#imgMap:hover {
    border: 1px solid #fff;
}

#networks {
    width: 50px;
    height: 50px;
    margin-top: 2rem;
    margin-left: calc(50% - 25px);
    margin-right: calc(50% - 25px);
    border: 1px solid;
    border-radius: 2px;
    color: rgb(60, 126, 60, 0.9);
    box-shadow: 5px 8px 20px rgb(26, 26, 26);
}

#networks:hover {
    background-color: rgb(60, 126, 60, 0.9);
    border: 1px solid #fff;
    ;
    color: #fff;
    ;
}

.list-unstyled {
    margin-top: 2rem;
}

.list-unstyled li {
    text-decoration: none;
    margin-top: 1rem;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    text-shadow: 5px 8px 20px rgb(26, 26, 26);
}

.footer-link:hover {
    text-decoration: none;
    color: rgb(60, 126, 60, 0.9);
    ;
}

#contactD {
    color: #fff;
}

#copyRight {
    border-top: 1px solid rgb(60, 126, 60, 0.9);
}

#copyRight p {
    color: rgb(60, 126, 60, 0.9);
}

#nerds {
    color: rgb(250, 250, 97);
}

