        section {
            background-color: #fff;
            padding-top: 100px !important;
            height: 100%;
            width: 100%;
        }
        
        #galleryHeadline {
            margin-top: 60px;
        }
        
        #galleryHeadline h2 {
            color: rgba(60, 126, 60);
        }
        
        #underline1 {
            color: rgba(60, 126, 60);
        }
        
        .sliderImg {
            float: left;
        }
        
        .sliderImg img {
            display: none;
            width: 506px;
            height: 283px;
            background-size: cover;
            background-position: center;
            box-shadow: 5px 8px 20px rgb(26, 26, 26);
            border: 1px solid rgba(60, 126, 60, 0.8);
        }
        
        .sliderImg img.active {
            display: inline-block;
        }
        
        .sliderNext,
        .sliderPrev {
            display: block;
            float: left;
            margin-top: 117.47px;
            cursor: pointer;
            box-shadow: 5px 8px 20px rgb(26, 26, 26);
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
        }
        
        .sliderPrev {
            margin-right: 3px;
            border-radius: 3px 0 0 3px;
        }
        
        .sliderNext {
            margin-left: 3px;
            border-radius: 0 3px 3px 0;
        }