.formBg {
    width: 50%;
    height: auto;
    padding: 20px;
    position: absolute;
    left: 25%;
    top: 20%;
    border: 1px solid rgb(186, 213, 52);
    border-radius: 10px;
    box-shadow: 5px 8px 20px rgb(26, 26, 26);
}

.btnContact {
    background: rgb(60, 126, 60, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    box-shadow: 5px 8px 20px rgb(26, 26, 26);
}

.form-control {
    border-color: #28a745;
    background: rgb(60, 126, 60, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    box-shadow: 5px 8px 20px rgb(26, 26, 26);
}