section {
    background-color: #fff;
    padding-top: 100px !important;
    height: 100px;
    width: 100%;
}

h3 {
    text-align: center;
    padding-top:20px;
}

p {
    text-align: justify;
    margin: 10px;
}

.domacini {
    display: flex;
}

.domacinilevo {
    float: left;
    border-bottom: 1px solid darkgreen;
}

.domacinidesno {
    float: right;
    border-bottom: 1px solid darkgreen;
}

.domacinilevo img {
    float: left;
    margin: 15px;
}

.domacinidesno img {
    float: right;
    margin: 15px;
}

.domacini img {
    border-radius: 50%;
    border: 2px solid darkgreen;
    margin-bottom: 15px;
}

.domacinilevo:hover, .domacinidesno:hover {
    background-color: rgba(60, 126, 60, 0.788);
    color: yellow;
    cursor: pointer
}

.domacinilevo:hover img, .domacinidesno:hover img {
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    0% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(-720deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.domacinidesno:hover img {
    animation-name: rotate1;
    animation-duration: 1s;
}